header {
    text-align: center;
    background-color: blue;
    color: black;
}
#search-panel {
    background-color: lightsteelblue;
}
.form-control {
  display: block;  
  width: 200px;
  float: left;  
}
#search {
    width: auto;
}
.history {
    font-size: x-large;
    font-weight: 500;
}
.five-day-cast {
    background-color: blue;
    color: white;
}
#uv-index {
    font-size: medium;
}
.uv-good {
    color: green;
}
.uv-poor {
    color: yellow;
}
.uv-bad {
    color: orangered;
}
.uv-danger {
    color: red;
}
.stay-inside {
    color: purple;
}
 